
body {
    background: url(http://grozav.com/plugins/bootslider/img/slide-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    background-color: rgb(236, 132, 13);
    color: white;
    justify-content: space-between;
    width: 20%;
    height: auto;
    padding: 20px;
    margin: 200px;
}

.form-group {
    display: flex;
    justify-content: space-around;
    background-color: rgb(219, 235, 224);
    color: white;
    width: 10%;
    height: auto;
    padding: 10px;
}
.btn-container {
   display: flex;
   justify-content: space-between;
   padding-top: 20px;
}