
body {
    background: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/UhGJuGw/global-business-finance-background_edwkxxznl__F0000.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    background-color: rgb(231, 243, 242);
    justify-content: space-around;
    width: 40%;
    height: auto;
    padding: 10px;
    margin: 200px;
}